In [3]:
import pandas

# fetches data file from my github
data = pandas.read_pickle("https://github.com/huegi/RES-2020-Finanzen/blob/main/data/winddaten.pkl?raw=true")

print("Windgeschwindigkeiten 50m über Boden in m/s:")
data

Windgeschwindigkeiten 50m über Boden in m/s:

                       Herzberg    Sulzbann    Strichen   Chornberg
DateTime
2007-01-01 00:00:00   12.417548   10.628394    9.901205    9.069599
2007-01-01 01:00:00   10.217509    9.205234    8.083005    8.415641
2007-01-01 02:00:00    7.586996    6.324036    4.342135    6.067798
2007-01-01 03:00:00    8.881812    8.822738    6.922568    6.807932
2007-01-01 04:00:00    8.925463    6.842247    5.347557    6.650112
...                         ...         ...         ...         ...
2009-12-31 19:00:00    8.867898    8.838482    6.256954    7.372755
2009-12-31 20:00:00    8.269855    7.733416    5.888010    7.258707
2009-12-31 21:00:00    8.216048    6.222354    5.286286    6.994446
2009-12-31 22:00:00    6.084167    6.095007    4.325935    5.058581
2009-12-31 23:00:00 -999.000000 -999.000000 -999.000000 -999.000000

[26304 rows x 4 columns]